/* BUTTONS */
.btn-primary {  
   
}
.btn-primary img{
    width: 200px;
    height: auto;
    transition: all .3s ease-in-out;
}
.btn-primary img:hover{
    width: 210px;
}
#button{
    text-decoration: none;
}
.btn-secondary  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e11d2b;
    color: #eff3e8;
    font-size: 12pt;
    width: 125px    ;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .3s ease-in-out;
}
.btn-secondary:hover{
    background-color: #eff3e8;
    border: solid 1pt #e11d2b;
    color: #e11d2b;
}
.buttons{
    display: flex;
}
