@import url("https://use.typekit.net/kxh3iir.css");
body {
	margin: 0;
	padding: 0;
	font-family: "pragmatica", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 14pt;
}
header {
	position: relative;
	width: 100%;
}
h3 {
	margin: 0;
	font-size: 42pt;
}
a,
p {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	margin: 0;
}
#header-homepage {
	width: 100%;
}
#white-header-wave {
	position: absolute;
	bottom: 0;
	left: 0;
}
.logo {
	position: absolute;
	top: 30px;
	left: 50px;
}
.logo img {
	width: 30px;
	height: auto;
}
nav {
	position: absolute;
	width: 950px;
	top: 30px;
	right: 50px;
	display: flex;
	justify-content: space-between;
}
nav a {
	font-size: 16pt;
	text-decoration: none;
	color: #eff3e8;
}
span {
	font-size: 16pt;
	text-decoration: none;
	color: #eff3e8;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #d13389;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.header-text {
	position: absolute;
	top: 440px;
	right: 280px;
}
.header-text h1 {
	font-size: 56pt;
	line-height: 1.4;
	color: #fff;
}
.info-wrapper {
	background-image: url("SVG/Asset\ 7.png");
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	flex-direction: column;

	position: relative;
	margin-top: -300px;
}
.info-list {
	display: flex;
	align-items: center;
	padding-bottom: 46px;
}
.info-list p {
	font-size: 12pt;
}
.info-image {
	display: flex;
	align-items: center;
	padding-left: 60px;
}
.info-text {
	padding: 0 280px 0 0px;
}
.info-title {
	position: relative;
	left: -280px;
	bottom: -60px;
	color: white;
}
.info-title h2 {
	width: 300px;
}
#info-list-studieaanbod {
	padding-left: 75px;
}
#info-list-studieaanbod .info-text {
	padding-right: 205px;
}
#info-list-onze-school {
	padding-top: 250px;
}
.quote-image {
	/*     position: relative; */
	margin-top: -50px;
}
.quote-image img {
	width: 100%;
}
#quote-image-text {
	position: absolute;
	margin-top: 30%;
	margin-left: 10%;
	font-size: 56pt;
	line-height: 1;
	color: #ffffff;
}
.pijlers-wrapper {
	background-image: url("Images/Asset\ 31.png");
	background-repeat: no-repeat;
	background-size: 30%;

	padding-top: 64px;
}
.pijlers-list {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 32px;
}
.pijlers p {
	color: #000000;

	background-color: #cacaca;
	padding: 100px 50px;
	border-radius: 75px;

	width: 300px;
	font-size: 12pt;
}
.pijlers img,
h3 {
	margin-bottom: -30px;
	padding-right: 60px;
	z-index: 1;
}
.pijlers img {
	width: 100px;
	height: 100px;
	margin-bottom: -50px;
}
.pijlers-list-header {
	display: flex;
	justify-content: space-between;
	width: 400px;
	align-items: flex-end;
}
#pijlers-list-taal {
	transform: rotate(3deg);
	padding-left: 45%;
}
#pijlers-list-OLB {
	transform: rotate(-3deg);
	padding-right: 45%;
	margin-top: -130px;
}
#pijlers-list-welzijn {
	transform: rotate(3deg);
	padding-left: 35%;
	margin-top: -130px;
}
#pijlers-list-header-welzijn {
	margin-left: 8%;
}
.background-bollen {
	padding-left: 15%;
	margin-top: -100px;
}
.background-bollen img {
	transform: rotate(-80deg);
	width: 270px;
	height: auto;
}
.footer-wrapper {
	background-image: url("images/Footer_2.svg");
	background-repeat: no-repeat;
	background-position: bottom 0px right 0px;

	height: 1000px;
	width: 100%;
	margin-top: -25%;

	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
}
.footer-list,
.footer-logo {
	padding-bottom: 64px;
}
.footer-list a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding-top: 15px;
}
.footer-list p {
	text-align: center;
	color: #ffffff;
}
.footer-logo img {
	width: 400px;
}

.leefregels {
	width: 90%;
}
.graad {
	padding-bottom: 124px;
}

.title-graad {
	width: 30%;
	padding-bottom: 64px;
	width: 50%;
	padding-left: 30%;
}
.title-graad h3 {
	padding: 0;
}
.info-graad {
	width: 35%;
	padding-left: 35%;
	text-align: center;
}
.studierichtingen {
	display: flex;
	justify-content: space-between;
}
.jaar1-wrapper {
	background-image: url("SVG/Asset\ 11_1.svg");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 60%;

	width: 40%;

	position: relative;
	margin-top: -500px;
}
.jaar1 {
	padding-left: 4%;
	padding-top: 50%;
}
.jaar2-wrapper {
	background-image: url("SVG/Asset\ 15.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 80%;

	width: 35%;
	height: 900px;

	display: flex;
	justify-content: flex-end;

	position: relative;
}
.jaar2 {
	padding-right: 15%;
	padding-top: 20%;
}

.rooster {
	margin-top: -600px;
	padding-left: 14%;
}
.rooster img {
	width: 45%;
}

#header-inschrijvingen {
	width: 100%;
}
#wegwijzers {
	margin-left: 10%;
	margin-right: 18%;
	margin-top: 7%;
	height: 500px;
}

.alinea1 {
	display: flex;
	flex-direction: row;
}
.inschrijving-1ste {
	margin-right: 0;

	padding-right: 10%;
}
.inschrijving-2tot6de {
	margin-left: 10%;
	margin-top: 20%;
}
