header {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../Images/school-probeersel.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
header h1 {
	position: absolute;
	top: 40%;
	right: 5%;
	font-size: 5rem;
	line-height: 1.4;
	color: #fff;
	width: 70%;
}
header .wave {
	position: absolute;
	bottom: -1px;
}
.header-wrapper-inschrijvingen header {
	background-image: url(Images/inschrijvingen1.png);
	/* background-position: center; */
}

.footer-wrapper {
	z-index: 3;
	background-image: url("../Images/Footer_2.svg");
	background-position: bottom 0px right 0px;
	background-size: 100%;
	height: 160vh;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
}
.footer-list,
.footer-logo {
	padding-bottom: 3%;
}
.footer-list a {
	display: block;
	text-decoration: underline transparent 1pt;
	transition: text-decoration 0.3s ease;
	color: #ffffff;
}

.footer-list p {
	text-align: center;
	color: #ffffff;
}
.footer-logo img {
	width: 400px;
}
.footer-list img {
	width: 25px;
	padding-right: 10px;
}
.footer-item {
	display: flex;
	align-self: center;
}

#footer-homepage {
	margin-top: -50%;
}
#footer-studieaanbod {
	margin-top: -45%;
}
#footer-leefregels {
	margin-top: -45%;
}
#footer-contact {
	margin-top: -35%;
}
#footer-leerlingbegeleiding {
	margin-top: -55%;
}
#footer-schoolregelement {
	margin-top: -45%;
}
#footer-infrastructuur {
	margin-top: -50%;
}
#footer-max-factuur {
	margin-top: -60%;
}
#footer-hospiteerlessen {
	margin-top: -55%;
}
#footer-basispijlers {
	margin-top: -55%;
}
#footer-humaniora {
	margin-top: -55%;
}

@media (max-width: 1024px) {
	#footer-leefregels{
		margin-top: -230%;
	}
	#footer-homepage{
		margin-top: -200%;
	}
	#footer-studieaanbod{
		margin-top: -210%;
	}
	#footer-contact{
		margin-top: -200%;
	}
}
