@media (max-width: 1024px) {
	/* For mobile phones ----------- */
	.ham-menu {
		visibility: visible;
	}
	.dropdown {
		visibility: hidden;
	}
	img {
		width: 100%;
	}
	ul {
		list-style-type: none;
	}
	body {
		font-size: 12pt;
	}
	header {
		height: 50vh;
	}
	header h1 {
		font-size: 2rem;
		line-height: 1.25;
	}
}
