@media (max-width: 768px) {
    /* For mobile phones ----------- */
    .ham-menu {
        visibility: visible;
    }
    .dropdown{
        visibility: hidden;
    }
    body {
        font-size: 0.5rem;
        overflow-x: hidden; /* deactiveerd horizontaal scrollen */
    }
    header {
        position: relative;
        width: 100%;
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
    }
    header h1 {
        position: absolute;
        top: 30%;
        left: 15%;
        font-size: 2rem;
        line-height: 1.25;
        color: #fff;
    }
    .info-wrapper {
        margin-top: -30px;
        position:relative;
        background-repeat: no-repeat;
        background-size: 20%;
    }

    .info-list {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        width: 100%;
    }
}